* {
  margin: 0;
  padding: 0;
}
.calc {
  background-color: rgb(94, 92, 92);
  width: 400px;
  margin: auto;
  border-radius: 8px;
  padding: 22px;
}
.calc-result {
  background-color: white;
  padding: 12px 6px;
  border-radius: 10px;
  text-align: end;
  font-size: 45px;
  margin-bottom: 25px;
}
.calc-keybord {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 80px;
  gap: 9px;
}
.calc-btn-wide {
  grid-column: span 2;
}
.calc-btn {
  background-color: rgb(237, 236, 235);
  border: none;
  border-radius: 8px;
  font-size: 30px;
}
.calc-btn:hover {
  background-color: rgb(216, 215, 215);
}
